<ion-view view-title="Goods Details" ng-init="initialize()" ng-controller="goodsdetailsController as controller">
<!--<ion-nav-buttons side="right">
  <button class="button button-large " ng-click="save(newgoods)">Search Drivers</button>
</ion-nav-buttons>-->
  <ion-content>
    <div class="padding">
      <h4>Goods Information:</h4>
      <div class="list card">
      	<div class="item item-icon-left" >
    	  	<i class="icon ion-cube"></i>
	          <input type="text" ng-model="newgoods.goodstype" class="stable" placeholder="Type of Goods" id="goodstype">
        </div>
      	<div class="item item-icon-left" >
    	  	<i class="icon ion-social-buffer"></i>
	          <input type="number" ng-model="newgoods.goodsweight" class="stable" placeholder="Approx weight (Kg)" id="goodsweight">
        </div>
        <div class="item item-icon-left" >
          <i class="icon ion-cash"></i>
            <input type="number" ng-model="newgoods.cost" class="stable" placeholder="Expected cost" id="cost">
        </div>
        <h4>Comments:</h4>
        <label class="item item-input">
          <textarea placeholder="Type your comments here" ng-model="newgoods.comments" id="comments" rows="6" cols="20" style="width: 100%"></textarea>
        </label>
        </div>
        <div class="item item-icon-left" ng-click="takePicture() ">
          <i class="icon ion-camera"></i>
          <input type="text" class="stable" placeholder="Upload Picture of goods" id="picture">
            <img ng-show="newgoods.picture !== undefined" ng-src="{{newgoods.picture}}"/></br>
        </div>
      </div>
    </div>
      <!--<button class="button button-block button-assertive" ng-click="save(newgoods)" style="position: fixed; bottom: 10%; ">
        Search for Drivers
      </button>-->
  </ion-content>
  <ion-footer-bar class="bar-assertive tabs " >
    <button class="button button-clear icon ion-android-search" ng-click="save(newgoods)">Search Drivers</button>
  </ion-footer-bar>
</ion-view>