<ion-view view-title="Customer List" ng-init="initialize()" ng-controller="searchcustomerController as controller">
  <ion-nav-buttons side="right">
      <button class="button icon-left button-large ion-android-checkmark-circle" ng-click="post()">Post Trip</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list card" ng-show="nomatch()">
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-alert-circled"></i>
        Oop's! We didn't find a match. </br>You can still post your trip using the <br>post trip option.
      </div>
    </div>
          <ion-list >
            <ion-item class="item-remove-animate item-avatar item-icon-right item-divider" ng-repeat="customer in customers" type="item-text-wrap" ng-click="clickecustomer(customer.id)">
              <img ng-src="{{customer.picture}}">
              <h3>{{customer.source}}</h3>
              <h3>{{customer.destination}}</h3>
              <p>
              <i class="icon ion-chevron-right icon-accessory"></i>
                <strong>Start Date & Time : </strong>{{customer.start_date_time| date: "yyyy-MM-dd h:mm a"}}</br>
                <strong>End Date & Time : </strong>{{customer.end_date_time| date: " yyyy-MM-dd h:mm a"}}</br>
                <strong>Status : </strong>{{customer.status}}
              </p>
            </ion-item>
          </ion-list>
  </ion-content>
<ion-footer-bar class="tabs tabs-assertive" style="height:auto;">
      <div class="col list card">
        <div class="item item-avatar">
          <img src="{{driver.picture}}">
          <h2>Trip Summary</h2>
          <h3>From : {{driver.source}}</h3>
          <h3>To : {{driver.destination}}</h3>
          <h3>Truck : {{driver.truck}}</h3>
          <h4>Start Time : {{driver.start_date_time| date: "yyyy-MM-dd h:mm a"}}</h4>
          <h4>End Time : {{driver.end_date_time| date: "yyyy-MM-dd h:mm a"}}</h4>
        </div>
      </div>
</ion-footer-bar>
</ion-view>

