
<ion-tabs class="tabs-background-dark tabs-color-light" ng-controller="tab2Controller as controller">

  <!-- Customer In-progress Tab -->
  <ion-tab title="In-progress" ui-sref="tab2.driverinprogresstrip">
    <ion-nav-view name="tab2-driverinprogresstrip"></ion-nav-view>
  </ion-tab>

  <!-- Customer Past Tab -->
  <ion-tab title="Past" ui-sref="tab2.driverpasttrip">
    <ion-nav-view name="tab2-driverpasttrip"></ion-nav-view>
  </ion-tab>

  <!-- Customer Upcoming Tab -->
  <ion-tab title="Upcoming" ui-sref="tab2.driverupcomingtrip">
    <ion-nav-view name="tab2-driverupcomingtrip"></ion-nav-view>
  </ion-tab>

</ion-tabs>


